.page {
    width: 1140px;
    margin: 0 auto;
}

.page__topPanel {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.page__topPanel__buttonBack {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
}

.page__topPanel__buttonBack > label {
    margin-left: 5px;
    cursor: pointer;
}

.page__topPanel__ratingsContainer {
    margin-left: auto;
}

.page__mainContent {
    padding-top: 20px;
}

.page__mainContent > h1 {
    text-align: center;
}

.page__mainContent__body {
    padding: 0 calc((100% - 848px) / 2);
}
