.post {
    border: 1px solid #919eab52;
    box-shadow: 3px 3px 6px #919eab52;
    border-radius: 1em;
}

.post__big {
    grid-column: 1 / 3;
}

.post > img {
    border-radius: 1em 1em 0 0;
}

.post__body {
    padding: 20px 10px 30px;
}

.post__body__small {
    height: calc(100% - 273px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post__body__titleSection {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.post__body__titleSection > div {
    margin-left: auto;
}

h3 {
    margin: 0;
    font-size: 28px;
    line-height: 32px;
}

.post__body__footerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post__body__footerContainer > * + * {
    margin-left: 5px;
}

.post__body__buttonReadAll {
    margin-left: auto;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.post__body__buttonReadAll > div {
    border: 1px solid black;
    border-radius: 1em;
    padding: 10px 15px;
    width: max-content;
    background-color: transparent;
}
